div#controllerContainer {
    background-color: slategray;
        max-width: 30em;
            padding: 5px 10px 5px 10px;
            border-radius: .3em;
            position:absolute;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label.settingLabel {
    color: whitesmoke;
}

.settingAction {
    float: right;
    right: 0px;
        margin-left: 10px;
    color: whitesmoke;
}


